{% extends 'store/base.html' %}

{% block title %}
About
{% endblock %}

{% block content %}

<div class="container">
    <div class="d-flex flex-column justify-content-center lana-about">
        <div class="d-flex flex-column col-5">
            <div class="lana-cap">Я - Светлана
            </div>
            <div class="lana-footer-text">
                Я вяжу игрушки для детей и взрослых. Также я вяжу интерьерные игрушки. Каждая моя игрушка уникальна.
                Игрушки связаны из гипоаллегенной пряжи, поэтому они безопасны для самых маленких.
                Мои игрушки хорошо подходят для оформления интерьера.

            </div>
        </div>
    </div>
</div>


{% endblock %}
