{% extends 'store/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

{% if products %}
<div class="container my-5">
    <div class="d-flex justify-content-between">
        {% for product in products %}
        <div class="card rounded-3 p-3" style="width: 18rem;">

            {% if product.image %}
            <img class="card-img-top rounded-3" src="{{ product.image.url }}" alt="{{ product.name }}">
            {% else %}
            <div class="no-image-placeholder d-flex align-items-center justify-content-center"
                 style="min-height: 200px;">
                <p>Фото скоро будет добавлено</p>
            </div>
            {% endif %}

            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }} {{ product.price }} руб.</p>

            </div>
        </div>
        {% if forloop.counter|divisibleby:3 and not forloop.last %}
    </div>
    <div class="d-flex justify-content-between mt-5">
        {% endif %}


        {% endfor %}
    </div>

</div>
<div class="container py-5 pagination">
    <span class="step-links">
        {% if products.has_previous %}
            <a href="?page=1">&laquo; Первая</a>
            <a href="?page={{ products.previous_page_number }}">Предыдущая</a>
        {% endif %}
        <span class="current">
            Страница {{ products.number }} из {{ products.paginator.num_pages }}.
        </span>
        {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}">Следующая страница</a>
            <a href="?page={{ products.paginator.num_pages }}">Последняя &raquo;</a>
        {% endif %}
    </span>
</div>
{% else %}
<p>У нас нет товаров!</p>
{% endif %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="post" action="{% url 'send_telegram_message' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="inputName" class="form-label">Имя</label>
                    <input type="text" class="form-control" id="inputName" name="name" required>
                </div>
                <div class="mb-3">
                    <label for="inputTelegram" class="form-label">Телеграм-ник</label>
                    <input type="text" class="form-control" id="inputTelegram" name="telegram" required>
                </div>
                <div class="mb-3">
                    <label for="inputMessage" class="form-label">Сообщение</label>
                    <textarea class="form-control" id="inputMessage" name="message" rows="4" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Отправить сообщение</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}

