{% extends 'store/base.html' %}

{% block title %}
About
{% endblock %}

{% block content %}

<div class="container">
    <div class="d-flex flex-column justify-content-center lana-how_to_buy">
        <div class="d-flex flex-column col-5">
            <div class="lana-cap">Как заказать игрушку
            </div>
            <div class="lana-footer-text">
                Для заказа игрушки Вы можете связаться с нами
                по любой из социальных сетей внизу сайта
                или в форме обратной связи на главной странице сайта.

            </div>
        </div>
    </div>
</div>


{% endblock %}

